<h1>Listing comments</h1>

<table>
  <tr>
    <th>Post title</th>
    <th>Author name</th>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.post.title %></td>
    <td><%= comment.author_name %></td>
    <td><%= truncate(comment.body, separator: ' ', omission: '… (continued)') %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_comment_path %> |
<%= link_to 'Back to all posts', posts_path %>
