<p id="notice"><%= notice %></p>

<p>
  <b>Author name:</b>
  <%= @comment.author_name %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back to post', post_path(@comment.post) %> |
<%= link_to 'Back to all posts', posts_path %>
