<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<p>
  <%= @post.body %>
</p>

<br />

<h2>Comments</h2>

<% @post.comments.each do |comment| %>
  <h3>
    <%= comment.author_name %> commented on <%= comment.created_at.to_s(:long) %>
  </h3>

  <p>
    <%= comment.body %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back to all posts', posts_path %> |
<%= link_to 'New comment', new_comment_path %>